.skills-summary-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #2d2d29;
  border-radius: 8px;
  max-width: 90%;
  margin: auto;
  gap: 60px;
}

.skills-resume-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #dfc0ac;
  border-radius: 8px;
  max-width: 90%;
  margin: 40px auto 0 auto;
  gap: 60px;
}

.skills-header {
  font-size: clamp(2rem, 4vw, 3.75rem); /* 30px - 60px */
  line-height: normal;
  font-family: "Google Sans Regular", sans-serif;
  text-align: center;
}

.skills-text {
  font-size: clamp(1rem, 2.5vw, 1.5rem); /* 16px - 24px */
  text-align: justify;
}

.skills-text-div {
  flex: 1;
  color: white;
  font-family: "Google Sans Regular", sans-serif;
}

.skills-resume-text-div {
  flex: 1;
  color: black;
  font-family: "Google Sans Regular", sans-serif;
}

.skills-summary-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-resume-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  border-radius: 8px;
}

.skills-heading {
  font-size: clamp(2rem, 4vw, 3.5rem); /* 30px - 56px */
  font-weight: 400;
  font-family: "Google Sans Regular", sans-serif;
  line-height: normal;
  text-align: center;
}

/* Media Query: Tablet screens */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
}

/* Media Query: Mobile screens */
@media (max-width: 768px) {
  .skills-summary-div {
    flex-direction: column;
    padding: 0; /* REMOVE padding */
    gap: 20px; /* smaller gap for mobile */
    max-width: 100%;
  }

  .skills-resume-div {
    flex-direction: column;
    padding: 0; /* REMOVE padding */
    margin-top: 20px; /* smaller margin */
    gap: 20px; /* smaller gap for mobile */
    max-width: 100%;
  }

  .skills-text-div,
  .skills-resume-text-div {
    margin: 0 20px;
    text-align: justify;
  }

  .skills-header {
    font-size: 30px;
  }

  .skills-heading {
    font-size: 30px;
  }

  .skills-text {
    font-size: 16px;
    text-align: justify;
  }

  .skills-text-subtitle {
    font-size: 16px;
    text-align: justify;
  }

  .skills-image-div {
    order: 2; /* Image goes under text */
  }

  .skills-image-div > * {
    margin-top: 0px;
  }
}
