.skills-summary-div {
  display: flex;
  align-items: center; /* vertically center image + text */
  justify-content: center; /* horizontally center */
  padding: 40px;
  background-color: #2d2d29; /* or your chosen dark background */
  border-radius: 8px;
  max-width: 90%;
  margin: auto;
  gap: 60px; /* spacing between image and text */
}

.skills-resume-div {
  display: flex;
  align-items: center; /* vertically center image + text */
  justify-content: center; /* horizontally center */
  padding: 40px;
  background-color: #dfc0ac; /* or your chosen dark background */
  border-radius: 8px;
  max-width: 90%;
  margin: 40px auto 0 auto; /* top margin 40px, auto left/right for centering, 0 bottom */
  gap: 60px; /* spacing between image and text */
}

.skills-header {
  font-size: 60px;
  line-height: normal;
  font-family: "Google Sans Regular";
  text-align: center;
}

.skills-text {
  font-size: 20px;
}

.skills-text-div {
  flex: 1;
  color: white;
  font-family: "Google Sans Regular", sans-serif;
}

.skills-resume-text-div {
  flex: 1;
  color: black;
  font-family: "Google Sans Regular", sans-serif;
}

.skills-summary-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-resume-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  border-radius: 8px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
  .skills-header {
    font-size: 50px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .skills-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-summary-div {
    flex-direction: column;
  }
  .skills-resume-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-resume-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
