.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 0rem;
}
.greet-main {
  position: relative;
  padding: 20px 10px;
  margin: 0px auto;
  background-image: url("../../assets/images/flower-created-from-transparent-material-pastel-background.jpg");
  background-size: cover; /* Ensures the image fills the width */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  width: 100%; /* Ensure container takes full width */
  height: 100vh; /* Adjust as needed */
  background-blend-mode: darken, luminosity;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 0px;
  font-family: "Google Sans Medium", sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.greeting-profession-p {
  font-size: 26px;
  line-height: normal;
  font-family: "Google Sans Medium", sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  margin-top: 70px;
  font-size: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium", sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
}

.greeting-image-div > * {
  max-width: 50%;
  height: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.quote-heading-text {
  font-size: 36px;
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 0px;
}

.quote-text {
  font-size: 20px;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-profession-p {
    font-size: 16px;
    line-height: normal;
  }
  .greeting-text-p {
    margin-top: 0px;
    font-size: 20px;
  }
  .quote-heading-text {
    font-size: 30px;
    margin-top: 60px;
  }
  .quote-text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-profession-p {
    font-size: 26px;
    line-height: normal;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .quote-heading-text {
    font-size: 25px;
    margin-top: 0px;
  }
  .quote-text {
    font-size: 15px;
  }
}
