/* Root font size */
html {
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* Main Containers */
.main {
  width: 100%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 0rem;
}

.greet-main {
  position: relative;
  padding: 20px 10px;
  margin: 0 auto;
  background-image: url("../../assets/images/flower-created-from-transparent-material-pastel-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-blend-mode: darken, luminosity;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
}

/* Buttons and Divs */
.button-greeting-div {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

/* Text Styling */
.greeting-text {
  font-size: clamp(2.5rem, 3vw, 9rem); /* balanced */
  line-height: 1.1;
  margin-bottom: 0px;
  font-family: "Google Sans Medium", sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  text-align: center;
}

.greeting-profession-p {
  font-size: clamp(1.5rem, 2vw, 4rem); /* reduced scaling */
  line-height: normal;
  font-family: "Google Sans Medium", sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  text-align: center;
}

.greeting-nickname {
  font-size: clamp(1.75rem, 2.5vw, 4.5rem); /* reduced scaling */
  line-height: normal;
  font-family: "Google Sans Bold Italic", sans-serif;
  text-align: center;
}

.greeting-text-p {
  font-size: clamp(1.5rem, 2.5vw, 5rem); /* better scaling */
  margin-top: clamp(1rem, 4vw, 8rem);
  line-height: 1.2;
  margin-right: 40px;
  font-family: "Google Sans Medium", sans-serif;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  text-align: center;
}

.greeting-image-div > * {
  max-width: 50%;
  height: auto;
}

/* Image Centering */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

/* Quote Section */
.quote-heading-text {
  font-size: clamp(2rem, 3vw, 4.5rem); /* smoother */
  font-weight: 400;
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
  margin-top: 0px;
}

.quote-text {
  font-size: clamp(1rem, 2vw, 3rem); /* smoother */
  font-family: "Google Sans Medium";
  line-height: 1.1;
  text-align: center;
}

/* Positioning */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .greeting-main {
    display: block;
  }

  .greeting-text-p {
    margin-right: 0;
  }

  .bottom-right {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
